@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to Exer2</h1>
    <p>Use the navigation bar to manage items, agents, and orders.</p>
    <p>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-primary" })</p>
</div>
